<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>Welcome</h3>
  <ion-list>
	<button ion-item *ngFor="let account of accounts">
		<ion-icon name="bluetooth" item-left></ion-icon>
		<p>{{account.UserID}} {{account.Username}} {{account.Email}} {{account.SettingsID}}</p>
	</button>
  <ion-item *ngFor="let post of posts">
    <div>{{post}}</div>
  </ion-item>
  </ion-list>


</ion-content>
